<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.saas.bsp.rule.core.dao.mapper.RuleTenantFromTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sf.saas.bsp.rule.core.dao.entity.RuleTenantFromTemplate">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="is_copy" property="isCopy" />
        <result column="create_by" property="createBy" />
        <result column="modified_by" property="modifiedBy" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, is_copy, create_by, modified_by, gmt_create, gmt_modified
    </sql>

</mapper>
