<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.saas.bsp.rule.core.dao.mapper.RuleOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sf.saas.bsp.rule.core.dao.entity.RuleOperationLog">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="rule_id" property="ruleId" />
        <result column="operation_type" property="operationType" />
        <result column="operation_data" property="operationData" />
        <result column="operation_remark" property="operationRemark" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="gmt_create" property="gmtCreate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, rule_id, operation_type, operation_data, operation_remark, operation_id, operation_name, gmt_create
    </sql>

</mapper>
